
.btn-white {
	color: #333;
	#text-shadow: 0 -1px 0 rgba(255, 255, 255, 1);
	background-color: #F9F9F9;
	background-image: -moz-linear-gradient(top, #F4F4F4, #F9F9F9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#F9F9F9));
	background-image: -webkit-linear-gradient(top, #F4F4F4, #F9F9F9);
	background-image: -o-linear-gradient(top, #F4F4F4, #F9F9F9);
	background-image: linear-gradient(to bottom, #F4F4F4, #F9F9F9);
	background-repeat: repeat-x;
	#border: 4px solid #ffff00;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#F9F9F9', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 2px;
    #box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-white:hover {
	background-image: none;
	background-color: #F1F1F1 !important;
	color: #000;
}

.btn-yellow {
	color: #333;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 1);
	background-color: #FDCB04;
	background-image: -moz-linear-gradient(top, #FFFA69, #FDCB04);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFA69), to(#FDCB04));
	background-image: -webkit-linear-gradient(top, #FFFA69, #FDCB04);
	background-image: -o-linear-gradient(top, #FFFA69, #FDCB04);
	background-image: linear-gradient(to bottom, #FFFA69, #FDCB04);
	background-repeat: repeat-x;
	border-color: #EEBF02;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFA69', endColorstr='#FDCB04', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-yellow:hover {
	background-color: #FDE804;
	color: #000;
}
.btn-yellow.disabled,
.btn-yellow[disabled] {
	background-color: #FFFA69;
	color: #000;
}


.form-group.required .control-label:after,
.required .control-label:after
 { 
	color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top: 2px;
	
	font-family: 'FontAwesome';
	font-weight: normal;
	font-size: 11px;
	content: "\f069";
}

.form-horizontal .form-group.required .control-label:after,
.form-horizontal .required .control-label:after
 {
    top: 7px;
 }

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white;
  cursor: text !important;
}

.details-large-modal {
	width: 90% !important;
	max-width: 1400px;
	margin: 30px auto;
}

.vehicle-title {
	font-size: 22px; 
	font-weight: 800; 
	color: #000077;
}

.modal-dialog .vehicle-title {
	margin-left: 20px;
}


.total-price-txt {
	font-size: 25px; 
	font-weight: 900; 
	color: #007700;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 1);
}

.discount-txt {
	display: inline-block;
	padding: 1px 6px;
	margin-bottom: 15px;
	background-color: rgba(255, 0, 0, .4);
	border-radius: 3px;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 1);
}

.vehicle-list-price {
	display: block;
	width: 100%;
	float: right !important;
	text-align: right;
	background-color: #EEE;
	padding: 5px 10px;
	margin-bottom: 15px;
}

.vehicle-list-image {
	max-width: 100%; 
	max-height: 180px; 
	border: 1px solid #999;
	margin-bottom: 15px;
}

.image-gallery-view {
	margin-left: 5px;
	max-width: 100%; 
	max-height: 300px; 
	border: 1px solid #999;
	display: block;
	clear: both;
}

.image-gallery-thumb {
	border: 1px solid #999;
	margin: 5px;
	cursor: pointer;
	opacity: 0.7;
}

.image-gallery-thumb:hover {
	opacity: 1;
}

.price-include-exclude {
	padding-top: 15px;
	background-color: #f2f2f2;
	border-radius: 3px;
}

.price-include-exclude ul {
	padding-left: 10px;
	font-size: 13px;
}

ul.features {
	padding-left: 0px;
}

ul.features > li {
	padding: 5px 5px;
}

.feature-icons {
	width: 22px;
	height: 22px;
	margin-right: 10px;
	float: left;
	content: " ";
	position: relative;
}
.feature-icons.disabled {
	opacity: 0.5;
}

.feature-icons.seats {
	background-image: url(/../images/icons/features.png);
	background-position: 0 -2px;
}
.feature-icons.baggage {
	background-image: url(/../images/icons/features.png);
	background-position: 0 -27px;
}
.feature-icons.doors {
	background-image: url(/../images/icons/features.png);
	background-position: 0 -52px;
}
.feature-icons.temperature_ac {
	background-image: url(/../images/icons/features.png);
	background-position: 0 -77px;
}
.feature-icons.transmission_m {
	background-image: url(/../images/icons/features.png);
	background-position: 0 -102px;
}
.feature-icons.transmission_a {
	background-image: url(/../images/icons/features.png);
	background-position: 0 -127px;
}
.feature-icons.engine_fuel {
	background-image: url(/../images/icons/features.png);
	background-position: 0 -152px;
}


.search-icons {
	width: 27px;
	height: 33px;
	float: left;
	margin-right: 10px;
	white-space: normal;
	content: " ";
	position: relative;
	display: block;
}

.search-icons.pickup-date {
	background-image: url(/../images/icons/datetime.png);
	background-position: 0 0;
}

.search-icons.return-date {
	background-image: url(/../images/icons/datetime.png);
	background-position: -51px 0;
}

#resultContent {
	min-height: 200px;
}

.location-dropdown {
	padding: 25px 25px 0px 25px; 
	margin-top: -3px !important;
}

.location-dropdown > .list-group.locations-list {
	max-height: 420px !important; 
	overflow-y: auto; 
	padding-right: 0px;
}

.btn-lg.btn-block > .caret.pull-right {
	margin: 8px 5px;
}

.dropdown-gmap {
	margin-left: 0;
	margin-top: 3px;
	margin-bottom: 10px;
	height: 180px;
}

.sub-title {
	font-size: 15px;
}

.datetime-inputs {
	float: left;
    position: relative;
	display: block;
}

.search-item {
	margin-top: 15px;
	padding: 0 15px;
	border: 1px solid #FBFBFB;
	background-color: #F7F7F7;
	*background-color: #F7F7F7;
	background-image: -moz-linear-gradient(top, #FEFEFE, #F7F7F7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEFEFE), to(#F7F7F7));
	background-image: -webkit-linear-gradient(top, #FEFEFE, #F7F7F7);
	background-image: -o-linear-gradient(top, #FEFEFE, #F7F7F7);
	background-image: linear-gradient(to bottom, #FEFEFE, #F7F7F7);
	background-repeat: repeat-x;
	border-color: #FBFBFB;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F7F7F7', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(80,80,80,0.2);
	-moz-box-shadow: 0px 1px 2px 0px rgba(80,80,80,0.2);
	box-shadow: 0px 1px 2px 0px rgba(80,80,80,0.2);
}

.search-form-box {
	padding-bottom: 40px;
	background-color: #086B99;
	*background-color: #086B99;
	background-image: -moz-linear-gradient(top, #1FC0FF, #086B99);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1FC0FF), to(#086B99));
	background-image: -webkit-linear-gradient(top, #1FC0FF, #086B99);
	background-image: -o-linear-gradient(top, #1FC0FF, #086B99);
	background-image: linear-gradient(to bottom, #1FC0FF, #086B99);
	background-repeat: repeat-x;
	border-color: #086B99;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1FC0FF', endColorstr='#086B99', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.search-form-box label {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

img.thumb  {
	border: 1px solid #999;
	cursor: pointer;
}

img.thumb.sm  {
	max-width: 35px; 
	max-height: 35px;
}

img.thumb.md  {
	max-width: 150px; 
	max-height: 60px; 
}

img.thumb.lg  {
	max-width: 100%;
	max-height: 200px;
}


.input-group.bootstrap-touchspin input.form-control {
	border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
	
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
	
	text-align: center; 
	padding-left: 1px; 
	padding-right: 2px;
}

.reservation-details-panel {
	padding-bottom:20px; 
	background-color: #EBEBEB; 
	border: 1px solid #ccc;
}